.content {
  display: flex;
  flex-wrap: wrap;
}

.container-item {
  width: 250px;
  border: 1px solid #cacaca;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.container-item img {
  width: 150px;
  height: 150px;
}
