@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 20px;
}

form {
  display: flex;
  width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background: rebeccapurple;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

input {
  height: 30px;
  padding: 0 8px;
}

.container-table {
  display: flex;
  justify-content: center;
}

table {
  min-width: 900px;
  margin-top: 20px;
}

table thead {
  background: gold;
  height: 30px;
  text-align: left;
}

table thead tr th {
  padding: 0 10px;
}

table tbody tr td {
  padding: 10px 10px;
  border-bottom: 1px solid rgb(178, 178, 178);
}

button {
  padding: 0 10px;
}
